<div class="text-center mt-40">
  <h1>
    Stripe Press Shop
  </h1>
  <p class="text-secondary">
    Select an item to purchase
  </p>
</div>
<div class="mt-40 row">
  {{#each books}}
  <div class="col">
    <div class="card box-shadow">
      <img src="{{image}}" class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <strong>{{author}}</strong>
        <p class="card-text mt-20">
          {{description}}
        </p>
        <a href="/checkout?bookId={{id}}" class="btn btn-primary btn-block">Purchase — $<span class="amount" data-amount="{{price}}"></span></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
